body{
    background-color: rgb(24, 30, 89);
}
.contenedor_details{
    background-color: blue;
    padding-top: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    border: solid 2px;
    border-radius: 5px;
    background-size: cover;
    height: 520px;
    width: 350px;
    display: inline-block;
    justify-content: flex-start;
    text-align: center;
    color:white;
    font-size: 100%;
    margin-left: 5vw;
}
.img_details{
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid;
    border-radius: 10px;
    height:450px;
    width: 330px;
    object-fit: cover;
}
p{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}
/* section{
    display: flex;
} */
.contenedor_imagen_texto {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contenedor_texto {
    flex: 1;
    margin-left: 20px;
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    text-align: center;
   
  }
  .titulo_nombre{
    font-size: 70px;
  }
  /* .description_size{
    height: 100vh;
  } */

